
.oi { margin-right:10px; }


.search-btn {width:20%; float:left;}
.keyword {width:80%; float:left;}

.footer-bottom{
  background: #92b3ef;
  padding-top: 5px;
}

.flx-box{
	background-color: #92b3ef;
}

.top-menu{
	margin-top: 5px;
}

.logo{
	width: 240px;
}

.card {
  display: flex;
  flex-direction: column;
}

#product1 {
	background-color: #607dcc;
	height: 40px;
}

#product2 {
	background-color: #d74d1e;
	height: 40px;
}

#product3 {
	background-color: #dfbe4d;
	height: 40px;
}

.img-thumbnail {
	height: 180px;
}